
/* 项目文章 */
.project{
    float:left;
    height:50%;
}
.project_image{
    float:left;
    width:34%;
}
.project_info{
    float:right;
    width:65%;
}


/* 置顶插件 */
.to-top {
    display: none;
    padding: 10px 20px;
    margin-right: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(66, 185, 131);
}